# <div align="center" style="color: #ff5733;">KRI Report New Format</div>

## *Requestor is Jennyfer*

In [1]:
# %% [markdown]
# # Jupyter Notebook Loading Header
#
# This is a custom loading header for Jupyter Notebooks in Visual Studio Code.
# It includes common imports and settings to get you started quickly.

# %% [markdown]
## Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.cloud import bigquery
import os
path = r'C:\Users\DwaipayanChakroborti\AppData\Roaming\gcloud\legacy_credentials\dchakroborti@tonikbank.com\adc.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = path
client = bigquery.Client(project='prj-prod-dataplatform')

# %% [markdown]
## Configure Settings
# Set options or configurations as needed
# Example: pd.set_option('display.max_columns', None)

# FPD30 January 2024 Month End

In [2]:
sq = """SELECT t1.new_loan_type,
ROUND(SUM(CASE when t1.defFPD30 = 1 then 1 ELSE 0 end )/sum(t1.obsFPD30)*100,3) as percentage_of_FPD30
from `prj-prod-dataplatform.risk_credit_mis.loan_master_table` t1
inner JOIN prj-prod-dataplatform.risk_credit_mis.loan_bucket_flow_report_core t2
ON
t1.loanAccountNumber = t2.loanAccountNumber
WHERE t1.flagDisbursement = 1
and t1.new_loan_type in ('Quick','Flex','SIL-Instore')
and t2.loanStatus in ('In Arrears','Normal')
and t2.bucketDate in ('2024-01-31')
GROUP BY 1;"""

janfpd30 = client.query(sq).to_dataframe(progress_bar_type='tqdm')
janfpd30

Job ID 14bd6f9a-d231-45e4-865a-bd03880c4ad6 successfully executed: 100%|██████████|
Downloading: 100%|██████████|

  new_loan_type  percentage_of_FPD30
0         Quick               14.770
1   SIL-Instore                5.875
2          Flex                3.114

# FPD30 February 2024 Month End

In [3]:
sq = """SELECT t1.new_loan_type,
ROUND(SUM(CASE when t1.defFPD30 = 1 then 1 ELSE 0 end )/sum(t1.obsFPD30)*100,3) as percentage_of_FPD30
from `prj-prod-dataplatform.risk_credit_mis.loan_master_table` t1
inner JOIN prj-prod-dataplatform.risk_credit_mis.loan_bucket_flow_report_core t2
ON
t1.loanAccountNumber = t2.loanAccountNumber
WHERE t1.flagDisbursement = 1
and t1.new_loan_type in ('Quick','Flex','SIL-Instore')
and t2.loanStatus in ('In Arrears','Normal')
and t2.bucketDate in ('2024-02-29')
GROUP BY 1;"""

febfpd30 = client.query(sq).to_dataframe(progress_bar_type='tqdm')
febfpd30

Job ID 5ff67639-023e-44a7-bade-aed8ecc3324e successfully executed: 100%|██████████|
Downloading: 100%|██████████|

  new_loan_type  percentage_of_FPD30
0         Quick               13.256
1          Flex                2.655
2   SIL-Instore                5.843

# FPD30 March 2024 Month End

In [4]:
sq = """SELECT t1.new_loan_type,
ROUND(SUM(CASE when t1.defFPD30 = 1 then 1 ELSE 0 end )/sum(t1.obsFPD30)*100,3) as percentage_of_FPD30
from `prj-prod-dataplatform.risk_credit_mis.loan_master_table` t1
inner JOIN prj-prod-dataplatform.risk_credit_mis.loan_bucket_flow_report_core t2
ON
t1.loanAccountNumber = t2.loanAccountNumber
WHERE t1.flagDisbursement = 1
and t1.new_loan_type in ('Quick','Flex','SIL-Instore')
and t2.loanStatus in ('In Arrears','Normal')
and t2.bucketDate in ('2024-03-31')
GROUP BY 1;"""

marchfpd30 = client.query(sq).to_dataframe(progress_bar_type='tqdm')
marchfpd30

Job ID 272edca0-b2ba-42e0-b11f-de25fe9c342d successfully executed: 100%|██████████|
Downloading: 100%|██████████|

  new_loan_type  percentage_of_FPD30
0   SIL-Instore                6.247
1         Quick               14.385
2          Flex                2.729

# 30+, 60+, 90+ for January 2024

In [5]:
sq = """with b as
(select t1.new_loan_type 
, count(distinct t2.loanAccountNumber) cnt_loan
, count(distinct case when t2.Max_current_DPD >=30 then t2.loanAccountNumber end) thirtyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >=30 then t2.loanAccountNumber end) obsthirtyplus
, count(distinct case when t2.Max_current_DPD >=60 then t2.loanAccountNumber end) sixtyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >=60 then t2.loanAccountNumber end) obssixtyplus
, count(distinct case when t2.Max_current_DPD >=90 then t2.loanAccountNumber end) nintyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >= 90 then t2.loanAccountNumber end) obsnintyplus
from `risk_credit_mis.loan_bucket_flow_report_core` t2
inner join `risk_credit_mis.loan_master_table` t1 on t2.loanAccountNumber = t1.loanAccountNumber
WHERE t1.flagDisbursement = 1
and t1.new_loan_type in ('Quick','Flex','SIL-Instore')
and t2.loanStatus in ('In Arrears','Normal')
and t2.bucketDate in ('2024-01-31')
group by 1
)
select 
new_loan_type,
round(sum(thirtyplus)/sum(obsthirtyplus)*100, 3) thirtyplus,
round(sum(sixtyplus)/sum(obsthirtyplus)*100, 3) sixtyplus,
round(sum(nintyplus)/sum(obsnintyplus)*100, 3) nintyplus,
from b
group by 1
order by 1
;"""

secondpartjan24 = client.query(sq).to_dataframe(progress_bar_type='tqdm')
secondpartjan24

Job ID c3e20c0a-4a08-4a2a-8b18-6cdbe8f6b73e successfully executed: 100%|██████████|
Downloading: 100%|██████████|

  new_loan_type  thirtyplus  sixtyplus  nintyplus
0          Flex      31.579     27.463     24.748
1         Quick      52.124     47.184     46.150
2   SIL-Instore      16.230     12.602     18.935

# 30+, 60+, 90+ for February 2024

In [6]:
sq = """with b as
(select t1.new_loan_type 
, count(distinct t2.loanAccountNumber) cnt_loan
, count(distinct case when t2.Max_current_DPD >=30 then t2.loanAccountNumber end) thirtyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >=30 then t2.loanAccountNumber end) obsthirtyplus
, count(distinct case when t2.Max_current_DPD >=60 then t2.loanAccountNumber end) sixtyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >=60 then t2.loanAccountNumber end) obssixtyplus
, count(distinct case when t2.Max_current_DPD >=90 then t2.loanAccountNumber end) nintyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >= 90 then t2.loanAccountNumber end) obsnintyplus
from `risk_credit_mis.loan_bucket_flow_report_core` t2
inner join `risk_credit_mis.loan_master_table` t1 on t2.loanAccountNumber = t1.loanAccountNumber
WHERE t1.flagDisbursement = 1
and t1.new_loan_type in ('Quick','Flex','SIL-Instore')
and t2.loanStatus in ('In Arrears','Normal')
and t2.bucketDate in ('2024-02-29')
group by 1
)
select 
new_loan_type,
round(sum(thirtyplus)/sum(obsthirtyplus)*100, 3) thirtyplus,
round(sum(sixtyplus)/sum(obsthirtyplus)*100, 3) sixtyplus,
round(sum(nintyplus)/sum(obsnintyplus)*100, 3) nintyplus,
from b
group by 1
order by 1
;"""

secondpartfeb24 = client.query(sq).to_dataframe(progress_bar_type='tqdm')
secondpartfeb24

Job ID bdbad657-9ac4-44eb-b0db-7319454bc446 successfully executed: 100%|██████████|
Downloading: 100%|██████████|

  new_loan_type  thirtyplus  sixtyplus  nintyplus
0          Flex      29.625     26.069     23.126
1         Quick      51.675     46.800     43.976
2   SIL-Instore      14.710     10.279     16.796

# 30+, 60+, 90+ for March 2024

In [7]:
sq = """with b as
(select t1.new_loan_type 
, count(distinct t2.loanAccountNumber) cnt_loan
, count(distinct case when t2.Max_current_DPD >=30 then t2.loanAccountNumber end) thirtyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >=30 then t2.loanAccountNumber end) obsthirtyplus
, count(distinct case when t2.Max_current_DPD >=60 then t2.loanAccountNumber end) sixtyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >=60 then t2.loanAccountNumber end) obssixtyplus
, count(distinct case when t2.Max_current_DPD >=90 then t2.loanAccountNumber end) nintyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >= 90 then t2.loanAccountNumber end) obsnintyplus
from `risk_credit_mis.loan_bucket_flow_report_core` t2
inner join `risk_credit_mis.loan_master_table` t1 on t2.loanAccountNumber = t1.loanAccountNumber
WHERE t1.flagDisbursement = 1
and t1.new_loan_type in ('Quick','Flex','SIL-Instore')
and t2.loanStatus in ('In Arrears','Normal')
and t2.bucketDate in ('2024-03-31')
group by 1
)
select 
new_loan_type,
round(sum(thirtyplus)/sum(obsthirtyplus)*100, 3) thirtyplus,
round(sum(sixtyplus)/sum(obsthirtyplus)*100, 3) sixtyplus,
round(sum(nintyplus)/sum(obsnintyplus)*100, 3) nintyplus,
from b
group by 1
order by 1
;"""

secondpartmarch24 = client.query(sq).to_dataframe(progress_bar_type='tqdm')
secondpartmarch24

Job ID b8f4cf21-b464-490d-b539-870661657d97 successfully executed: 100%|██████████|
Downloading: 100%|██████████|

  new_loan_type  thirtyplus  sixtyplus  nintyplus
0          Flex      33.267     29.034     27.110
1         Quick      58.553     53.424     51.604
2   SIL-Instore      16.344     11.561     16.460

# 30+, 60+, 90+ for January 2024 (without Product)

In [11]:
sq = """with b as
(select count(distinct t2.loanAccountNumber) cnt_loan
, count(distinct case when t2.Max_current_DPD >=30 then t2.loanAccountNumber end) thirtyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >=30 then t2.loanAccountNumber end) obsthirtyplus
, count(distinct case when t2.Max_current_DPD >=60 then t2.loanAccountNumber end) sixtyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >=60 then t2.loanAccountNumber end) obssixtyplus
, count(distinct case when t2.Max_current_DPD >=90 then t2.loanAccountNumber end) nintyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >= 90 then t2.loanAccountNumber end) obsnintyplus
from `risk_credit_mis.loan_bucket_flow_report_core` t2
inner join `risk_credit_mis.loan_master_table` t1 on t2.loanAccountNumber = t1.loanAccountNumber
WHERE t1.flagDisbursement = 1
and t1.new_loan_type in ('Quick','Flex','SIL-Instore')
and t2.loanStatus in ('In Arrears','Normal')
and t2.bucketDate in ('2024-01-31')
)
select 
round(sum(thirtyplus)/sum(obsthirtyplus)*100, 3) thirtyplus,
round(sum(sixtyplus)/sum(obsthirtyplus)*100, 3) sixtyplus,
round(sum(nintyplus)/sum(obsnintyplus)*100, 3) nintyplus,
from b
order by 1
;"""

thirdpartjan24 = client.query(sq).to_dataframe(progress_bar_type='tqdm')
thirdpartjan24

Job ID 01214334-cb9d-4217-8f08-44630446d654 successfully executed: 100%|██████████|
Downloading: 100%|██████████|

   thirtyplus  sixtyplus  nintyplus
0      32.209     28.005     33.498

In [12]:
dfjan = janfpd30.merge(secondpartjan24, on='new_loan_type', how='left')
dfjan

  new_loan_type  percentage_of_FPD30  thirtyplus  sixtyplus  nintyplus
0         Quick               14.770      52.124     47.184     46.150
1   SIL-Instore                5.875      16.230     12.602     18.935
2          Flex                3.114      31.579     27.463     24.748

In [13]:
resultjan = pd.concat([dfjan, thirdpartjan24], ignore_index=True)
resultjan

  new_loan_type  percentage_of_FPD30  thirtyplus  sixtyplus  nintyplus
0         Quick               14.770      52.124     47.184     46.150
1   SIL-Instore                5.875      16.230     12.602     18.935
2          Flex                3.114      31.579     27.463     24.748
3           NaN                  NaN      32.209     28.005     33.498

In [14]:
resultjan['new_loan_type'] = resultjan['new_loan_type'].fillna('Portfolio')
resultjan

  new_loan_type  percentage_of_FPD30  thirtyplus  sixtyplus  nintyplus
0         Quick               14.770      52.124     47.184     46.150
1   SIL-Instore                5.875      16.230     12.602     18.935
2          Flex                3.114      31.579     27.463     24.748
3     Portfolio                  NaN      32.209     28.005     33.498

# 30+, 60+, 90+ for February 2024 (without Product)

In [19]:
sq = """with b as
(select 
count(distinct t2.loanAccountNumber) cnt_loan
, count(distinct case when t2.Max_current_DPD >=30 then t2.loanAccountNumber end) thirtyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >=30 then t2.loanAccountNumber end) obsthirtyplus
, count(distinct case when t2.Max_current_DPD >=60 then t2.loanAccountNumber end) sixtyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >=60 then t2.loanAccountNumber end) obssixtyplus
, count(distinct case when t2.Max_current_DPD >=90 then t2.loanAccountNumber end) nintyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >= 90 then t2.loanAccountNumber end) obsnintyplus
from `risk_credit_mis.loan_bucket_flow_report_core` t2
inner join `risk_credit_mis.loan_master_table` t1 on t2.loanAccountNumber = t1.loanAccountNumber
WHERE t1.flagDisbursement = 1
and t1.new_loan_type in ('Quick','Flex','SIL-Instore')
and t2.loanStatus in ('In Arrears','Normal')
and t2.bucketDate in ('2024-02-29')
)
select 
round(sum(thirtyplus)/sum(obsthirtyplus)*100, 3) thirtyplus,
round(sum(sixtyplus)/sum(obsthirtyplus)*100, 3) sixtyplus,
round(sum(nintyplus)/sum(obsnintyplus)*100, 3) nintyplus,
from b
order by 1
;"""

thirdpartfeb24 = client.query(sq).to_dataframe(progress_bar_type='tqdm')
thirdpartfeb24

Job ID cec13b27-0cd2-4829-b118-d4dd78f87454 successfully executed: 100%|██████████|
Downloading: 100%|██████████|

   thirtyplus  sixtyplus  nintyplus
0      27.462     22.971     29.631

In [17]:
dffeb = febfpd30.merge(secondpartfeb24, on='new_loan_type', how='left')
dffeb

  new_loan_type  percentage_of_FPD30  thirtyplus  sixtyplus  nintyplus
0         Quick               13.256      51.675     46.800     43.976
1          Flex                2.655      29.625     26.069     23.126
2   SIL-Instore                5.843      14.710     10.279     16.796

In [20]:
resultfeb = pd.concat([dffeb, thirdpartfeb24], ignore_index=True)
resultfeb

  new_loan_type  percentage_of_FPD30  thirtyplus  sixtyplus  nintyplus
0         Quick               13.256      51.675     46.800     43.976
1          Flex                2.655      29.625     26.069     23.126
2   SIL-Instore                5.843      14.710     10.279     16.796
3           NaN                  NaN      27.462     22.971     29.631

In [21]:
resultfeb['new_loan_type'] = resultfeb['new_loan_type'].fillna("Portfolio")
resultfeb

  new_loan_type  percentage_of_FPD30  thirtyplus  sixtyplus  nintyplus
0         Quick               13.256      51.675     46.800     43.976
1          Flex                2.655      29.625     26.069     23.126
2   SIL-Instore                5.843      14.710     10.279     16.796
3     Portfolio                  NaN      27.462     22.971     29.631

# 30+, 60+, 90+ for March 2024 (without Product)

In [22]:
sq = """with b as
(select 
count(distinct t2.loanAccountNumber) cnt_loan
, count(distinct case when t2.Max_current_DPD >=30 then t2.loanAccountNumber end) thirtyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >=30 then t2.loanAccountNumber end) obsthirtyplus
, count(distinct case when t2.Max_current_DPD >=60 then t2.loanAccountNumber end) sixtyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >=60 then t2.loanAccountNumber end) obssixtyplus
, count(distinct case when t2.Max_current_DPD >=90 then t2.loanAccountNumber end) nintyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >= 90 then t2.loanAccountNumber end) obsnintyplus
from `risk_credit_mis.loan_bucket_flow_report_core` t2
inner join `risk_credit_mis.loan_master_table` t1 on t2.loanAccountNumber = t1.loanAccountNumber
WHERE t1.flagDisbursement = 1
and t1.new_loan_type in ('Quick','Flex','SIL-Instore')
and t2.loanStatus in ('In Arrears','Normal')
and t2.bucketDate in ('2024-03-31')
)
select 
round(sum(thirtyplus)/sum(obsthirtyplus)*100, 3) thirtyplus,
round(sum(sixtyplus)/sum(obsthirtyplus)*100, 3) sixtyplus,
round(sum(nintyplus)/sum(obsnintyplus)*100, 3) nintyplus,
from b
order by 1
;"""

thirdpartmarch24 = client.query(sq).to_dataframe(progress_bar_type='tqdm')
thirdpartmarch24

Job ID 166beb34-b62c-44ab-88bd-b29633a5522f successfully executed: 100%|██████████|
Downloading: 100%|██████████|

   thirtyplus  sixtyplus  nintyplus
0       28.56     23.731     30.927

In [23]:
dfmarch = marchfpd30.merge(secondpartmarch24, on='new_loan_type', how='left')
dfmarch

  new_loan_type  percentage_of_FPD30  thirtyplus  sixtyplus  nintyplus
0   SIL-Instore                6.247      16.344     11.561     16.460
1         Quick               14.385      58.553     53.424     51.604
2          Flex                2.729      33.267     29.034     27.110

In [24]:
resultmarch = pd.concat([dfmarch, thirdpartmarch24], ignore_index=True)
resultmarch

   thirtyplus  sixtyplus  nintyplus
0       28.56     23.731     30.927

In [26]:
resultmarch['new_loan_type'] = resultmarch['new_loan_type'].fillna("Portfolio")
resultmarch

  new_loan_type  percentage_of_FPD30  thirtyplus  sixtyplus  nintyplus
0   SIL-Instore                6.247      16.344     11.561     16.460
1         Quick               14.385      58.553     53.424     51.604
2          Flex                2.729      33.267     29.034     27.110
3     Portfolio                  NaN      28.560     23.731     30.927

# Write it to Excel File

In [27]:
# Create a Pandas Excel writer using XlsxWriter as the engine
writer = pd.ExcelWriter(r'D:\OneDrive - Tonik Financial Pte Ltd\MyStuff\Collection\Jennifer Zaldivar\KRI_New_Report\Data\20240411_KRI_Report_New.xlsx', engine='xlsxwriter')

# Write each dataframe to a separate worksheet
resultjan.to_excel(writer, sheet_name='January2024')
resultfeb.to_excel(writer, sheet_name='February2024')
resultmarch.to_excel(writer, sheet_name='March2024')

# Close the Pandas Excel writer and output the Excel file
writer.close()