# <div align="center" style="color: #ff5733;">New KPI Report</div>

## *Requestor is Jennyfer & Anne*

In [27]:
# %% [markdown]
# # Jupyter Notebook Loading Header
#
# This is a custom loading header for Jupyter Notebooks in Visual Studio Code.
# It includes common imports and settings to get you started quickly.

# %% [markdown]
## Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.cloud import bigquery
import os
# path = r'C:\Users\DwaipayanChakroborti\AppData\Roaming\gcloud\legacy_credentials\dchakroborti@tonikbank.com\adc.json'
# os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = path
client = bigquery.Client(project='prj-prod-dataplatform')

# %% [markdown]
## Configure Settings
# Set options or configurations as needed
# Example: pd.set_option('display.max_columns', None)

# FPD30 October 2024 Month End

In [28]:
sq = """SELECT t1.new_loan_type,
ROUND(SUM(CASE when t1.defFPD30 = 1 then 1 ELSE 0 end )/sum(t1.obsFPD30)*100,3) as percentage_of_FPD30
from `prj-prod-dataplatform.risk_credit_mis.loan_master_table` t1
inner JOIN prj-prod-dataplatform.risk_credit_mis.loan_bucket_flow_report_core t2
ON
t1.loanAccountNumber = t2.loanAccountNumber
WHERE t1.flagDisbursement = 1
and t1.new_loan_type in ('Quick','Flex','SIL-Instore')
and t2.loanStatus in ('In Arrears','Normal')
and t2.bucketDate in ('2024-10-31')
GROUP BY 1;"""

oct24fpd30 = client.query(sq).to_dataframe(progress_bar_type='tqdm')
oct24fpd30

Job ID 9144a52c-e28e-42ea-8a29-ee7c6992d186 successfully executed: 100%|██████████|
Downloading: 100%|██████████|

  new_loan_type  percentage_of_FPD30
0         Quick               12.827
1          Flex                0.567
2   SIL-Instore                7.532

# 30+, 60+, 90+ for October 2024

In [29]:
sq = """with b as
(select t1.new_loan_type 
, count(distinct t2.loanAccountNumber) cnt_loan
, count(distinct case when t2.Max_current_DPD >=30 then t2.loanAccountNumber end) thirtyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >=30 then t2.loanAccountNumber end) obsthirtyplus
, count(distinct case when t2.Max_current_DPD >=60 then t2.loanAccountNumber end) sixtyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >=60 then t2.loanAccountNumber end) obssixtyplus
, count(distinct case when t2.Max_current_DPD >=90 then t2.loanAccountNumber end) nintyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >= 90 then t2.loanAccountNumber end) obsnintyplus
from `risk_credit_mis.loan_bucket_flow_report_core` t2
inner join `risk_credit_mis.loan_master_table` t1 on t2.loanAccountNumber = t1.loanAccountNumber
WHERE t1.flagDisbursement = 1
and t1.new_loan_type in ('Quick','Flex','SIL-Instore')
and t2.loanStatus in ('In Arrears','Normal')
and t2.bucketDate in ('2024-10-31')
group by 1
)
select 
new_loan_type,
round(sum(thirtyplus)/sum(obsthirtyplus)*100, 3) thirtyplus,
round(sum(sixtyplus)/sum(obsthirtyplus)*100, 3) sixtyplus,
round(sum(nintyplus)/sum(obsnintyplus)*100, 3) nintyplus,
from b
group by 1
order by 1
;"""

secondpartOct24 = client.query(sq).to_dataframe(progress_bar_type='tqdm')
secondpartOct24

Job ID 7a21a20d-b54f-490e-bb4d-46aa5b57e2fc successfully executed: 100%|██████████|
Downloading: 100%|██████████|

  new_loan_type  thirtyplus  sixtyplus  nintyplus
0          Flex      39.377     35.033     30.878
1         Quick      35.833     26.217     37.009
2   SIL-Instore      24.993     18.434     22.735

# 30+, 60+, 90+ for October 2024 (without Product)

In [30]:
sq = """with b as
(select 
count(distinct t2.loanAccountNumber) cnt_loan
, count(distinct case when t2.Max_current_DPD >=30 then t2.loanAccountNumber end) thirtyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >=30 then t2.loanAccountNumber end) obsthirtyplus
, count(distinct case when t2.Max_current_DPD >=60 then t2.loanAccountNumber end) sixtyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >=60 then t2.loanAccountNumber end) obssixtyplus
, count(distinct case when t2.Max_current_DPD >=90 then t2.loanAccountNumber end) nintyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >= 90 then t2.loanAccountNumber end) obsnintyplus
from `risk_credit_mis.loan_bucket_flow_report_core` t2
inner join `risk_credit_mis.loan_master_table` t1 on t2.loanAccountNumber = t1.loanAccountNumber
WHERE t1.flagDisbursement = 1
and t1.new_loan_type in ('Quick','Flex','SIL-Instore')
and t2.loanStatus in ('In Arrears','Normal')
and t2.bucketDate in ('2024-10-31')
)
select 
round(sum(thirtyplus)/sum(obsthirtyplus)*100, 3) thirtyplus,
round(sum(sixtyplus)/sum(obsthirtyplus)*100, 3) sixtyplus,
round(sum(nintyplus)/sum(obsnintyplus)*100, 3) nintyplus,
from b
order by 1
;"""

thirdpartOct24 = client.query(sq).to_dataframe(progress_bar_type='tqdm')
thirdpartOct24

Job ID f9e31fa3-8d09-40b5-8c22-b507750a3ab5 successfully executed: 100%|██████████|
Downloading: 100%|██████████|

   thirtyplus  sixtyplus  nintyplus
0      26.583     19.667     24.595

In [31]:
oct24fpd30.head()

  new_loan_type  percentage_of_FPD30
0         Quick               12.827
1          Flex                0.567
2   SIL-Instore                7.532

In [32]:
secondpartOct24.head()

  new_loan_type  thirtyplus  sixtyplus  nintyplus
0          Flex      39.377     35.033     30.878
1         Quick      35.833     26.217     37.009
2   SIL-Instore      24.993     18.434     22.735

In [33]:
dfOct24 = oct24fpd30.merge(secondpartOct24, on='new_loan_type', how='left')
dfOct24

  new_loan_type  percentage_of_FPD30  thirtyplus  sixtyplus  nintyplus
0         Quick               12.827      35.833     26.217     37.009
1          Flex                0.567      39.377     35.033     30.878
2   SIL-Instore                7.532      24.993     18.434     22.735

In [34]:
thirdpartOct24.head()

   thirtyplus  sixtyplus  nintyplus
0      26.583     19.667     24.595

In [35]:
resultOct24 = pd.concat([dfOct24, thirdpartOct24], ignore_index=True)

In [36]:
resultOct24['new_loan_type'] = resultOct24['new_loan_type'].fillna("Portfolio")
resultOct24

  new_loan_type  percentage_of_FPD30  thirtyplus  sixtyplus  nintyplus
0         Quick               12.827      35.833     26.217     37.009
1          Flex                0.567      39.377     35.033     30.878
2   SIL-Instore                7.532      24.993     18.434     22.735
3     Portfolio                  NaN      26.583     19.667     24.595

In [37]:
import pandas as pd
from openpyxl import load_workbook

In [38]:
# Load the existing Excel file
existing_excel_file = r'/home/jupyter/KRI_Report_New/Data/20241002_KRI_Report_New.xlsx'
xls = pd.ExcelFile(existing_excel_file)

# Read each existing sheet into separate dataframes
df_january24 = pd.read_excel(xls, sheet_name='January2024')
df_february24 = pd.read_excel(xls, sheet_name='February2024')
df_march24 = pd.read_excel(xls, sheet_name='March2024')
df_april24 = pd.read_excel(xls, sheet_name='April2024')
df_may24 = pd.read_excel(xls, sheet_name='May2024')
df_june24 = pd.read_excel(xls, sheet_name='June2024')
df_july24 = pd.read_excel(xls, sheet_name='July2024')
df_aug24 = pd.read_excel(xls, sheet_name='August2024')
df_sep24 = pd.read_excel(xls, sheet_name='September2024')

In [39]:
df_sep24

    new_loan_type  percentage_of_FPD30  thirtyplus  sixtyplus  nintyplus
0         A. Flex                0.558      38.247     34.343     29.801
1        B. Quick               10.844      41.830     33.901     40.570
2  C. SIL-Instore                6.993      24.827     18.796     22.305
3    D. Portfolio                  NaN      27.045     20.842     24.745

In [40]:
# Mapping function to modify 'new_loan_type' values
def modify_loan_type(loan_type):
    mapping = {'Flex': 'A. Flex', 'SIL-Instore': 'C. SIL-Instore', 'Quick': 'B. Quick', 'Portfolio': 'D. Portfolio'}
    return mapping.get(loan_type, loan_type)  # Return original value if not found

# Apply the mapping function to the 'new_loan_type' column
resultOct24['new_loan_type'] = resultOct24['new_loan_type'].apply(modify_loan_type)
resultOct24

    new_loan_type  percentage_of_FPD30  thirtyplus  sixtyplus  nintyplus
0        B. Quick               12.827      35.833     26.217     37.009
1         A. Flex                0.567      39.377     35.033     30.878
2  C. SIL-Instore                7.532      24.993     18.434     22.735
3    D. Portfolio                  NaN      26.583     19.667     24.595

In [41]:
# Create a Pandas Excel writer using XlsxWriter as the engine
writer = pd.ExcelWriter(r'/home/jupyter/KRI_Report_New/Data/20241102_KRI_Report_New.xlsx', engine='xlsxwriter')

# Sort each DataFrame by the first column and write to a separate worksheet, ignoring the index
df_january24.sort_values(by=df_january24.columns[0]).to_excel(writer, sheet_name='January2024', index=False)
df_february24.sort_values(by=df_february24.columns[0]).to_excel(writer, sheet_name='February2024', index=False)
df_march24.sort_values(by=df_march24.columns[0]).to_excel(writer, sheet_name='March2024', index=False)
df_april24.sort_values(by=df_april24.columns[0]).to_excel(writer, sheet_name='April2024', index=False)
df_may24.sort_values(by=df_may24.columns[0]).to_excel(writer, sheet_name='May2024', index=False)
df_june24.sort_values(by=df_june24.columns[0]).to_excel(writer, sheet_name='June2024', index=False)
df_july24.sort_values(by=df_july24.columns[0]).to_excel(writer, sheet_name='July2024', index=False)
df_aug24.sort_values(by=df_aug24.columns[0]).to_excel(writer, sheet_name='August2024', index=False)
df_sep24.sort_values(by=df_sep24.columns[0]).to_excel(writer, sheet_name='September2024', index=False)
resultOct24.sort_values(by=resultOct24.columns[0]).to_excel(writer, sheet_name='October2024', index=False)

# Close the Pandas Excel writer and output the Excel file
writer.close()