# <div align="center" style="color: #ff5733;">New KPI Report</div>

## *Requestor is Jennyfer & Anne*

In [1]:
# %% [markdown]
# # Jupyter Notebook Loading Header
#
# This is a custom loading header for Jupyter Notebooks in Visual Studio Code.
# It includes common imports and settings to get you started quickly.

# %% [markdown]
## Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.cloud import bigquery
import os
path = r'C:\Users\DwaipayanChakroborti\AppData\Roaming\gcloud\legacy_credentials\dchakroborti@tonikbank.com\adc.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = path
client = bigquery.Client(project='prj-prod-dataplatform')

# %% [markdown]
## Configure Settings
# Set options or configurations as needed
# Example: pd.set_option('display.max_columns', None)

# FPD30 September 2024 Month End

In [2]:
sq = """SELECT t1.new_loan_type,
ROUND(SUM(CASE when t1.defFPD30 = 1 then 1 ELSE 0 end )/sum(t1.obsFPD30)*100,3) as percentage_of_FPD30
from `prj-prod-dataplatform.risk_credit_mis.loan_master_table` t1
inner JOIN prj-prod-dataplatform.risk_credit_mis.loan_bucket_flow_report_core t2
ON
t1.loanAccountNumber = t2.loanAccountNumber
WHERE t1.flagDisbursement = 1
and t1.new_loan_type in ('Quick','Flex','SIL-Instore')
and t2.loanStatus in ('In Arrears','Normal')
and t2.bucketDate in ('2024-09-30')
GROUP BY 1;"""

sep24fpd30 = client.query(sq).to_dataframe(progress_bar_type='tqdm')
sep24fpd30

Job ID 784211fa-d31a-4af7-9874-8da074f8ed60 successfully executed: 100%|██████████|
Downloading: 100%|██████████|

  new_loan_type  percentage_of_FPD30
0   SIL-Instore                6.993
1          Flex                0.558
2         Quick               10.844

# 30+, 60+, 90+ for September 2024

In [3]:
sq = """with b as
(select t1.new_loan_type 
, count(distinct t2.loanAccountNumber) cnt_loan
, count(distinct case when t2.Max_current_DPD >=30 then t2.loanAccountNumber end) thirtyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >=30 then t2.loanAccountNumber end) obsthirtyplus
, count(distinct case when t2.Max_current_DPD >=60 then t2.loanAccountNumber end) sixtyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >=60 then t2.loanAccountNumber end) obssixtyplus
, count(distinct case when t2.Max_current_DPD >=90 then t2.loanAccountNumber end) nintyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >= 90 then t2.loanAccountNumber end) obsnintyplus
from `risk_credit_mis.loan_bucket_flow_report_core` t2
inner join `risk_credit_mis.loan_master_table` t1 on t2.loanAccountNumber = t1.loanAccountNumber
WHERE t1.flagDisbursement = 1
and t1.new_loan_type in ('Quick','Flex','SIL-Instore')
and t2.loanStatus in ('In Arrears','Normal')
and t2.bucketDate in ('2024-09-30')
group by 1
)
select 
new_loan_type,
round(sum(thirtyplus)/sum(obsthirtyplus)*100, 3) thirtyplus,
round(sum(sixtyplus)/sum(obsthirtyplus)*100, 3) sixtyplus,
round(sum(nintyplus)/sum(obsnintyplus)*100, 3) nintyplus,
from b
group by 1
order by 1
;"""

secondpartSep24 = client.query(sq).to_dataframe(progress_bar_type='tqdm')
secondpartSep24

Job ID a80463ec-069b-4c58-bdac-2123f0674cbf successfully executed: 100%|██████████|
Downloading: 100%|██████████|

  new_loan_type  thirtyplus  sixtyplus  nintyplus
0          Flex      38.247     34.343     29.801
1         Quick      41.830     33.901     40.570
2   SIL-Instore      24.827     18.796     22.305

# 30+, 60+, 90+ for September 2024 (without Product)

In [7]:
sq = """with b as
(select 
count(distinct t2.loanAccountNumber) cnt_loan
, count(distinct case when t2.Max_current_DPD >=30 then t2.loanAccountNumber end) thirtyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >=30 then t2.loanAccountNumber end) obsthirtyplus
, count(distinct case when t2.Max_current_DPD >=60 then t2.loanAccountNumber end) sixtyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >=60 then t2.loanAccountNumber end) obssixtyplus
, count(distinct case when t2.Max_current_DPD >=90 then t2.loanAccountNumber end) nintyplus
, count(distinct case when date_diff(date(t2.bucketDate), date(t2.firstduedate), day) >= 90 then t2.loanAccountNumber end) obsnintyplus
from `risk_credit_mis.loan_bucket_flow_report_core` t2
inner join `risk_credit_mis.loan_master_table` t1 on t2.loanAccountNumber = t1.loanAccountNumber
WHERE t1.flagDisbursement = 1
and t1.new_loan_type in ('Quick','Flex','SIL-Instore')
and t2.loanStatus in ('In Arrears','Normal')
and t2.bucketDate in ('2024-09-30')
)
select 
round(sum(thirtyplus)/sum(obsthirtyplus)*100, 3) thirtyplus,
round(sum(sixtyplus)/sum(obsthirtyplus)*100, 3) sixtyplus,
round(sum(nintyplus)/sum(obsnintyplus)*100, 3) nintyplus,
from b
order by 1
;"""

thirdpartSep24 = client.query(sq).to_dataframe(progress_bar_type='tqdm')
thirdpartSep24

Job ID 5e2190fe-8594-4185-89fe-064f804d3cb3 successfully executed: 100%|██████████|
Downloading: 100%|██████████|

   thirtyplus  sixtyplus  nintyplus
0      27.045     20.842     24.745

In [8]:
sep24fpd30.head()

  new_loan_type  percentage_of_FPD30
0   SIL-Instore                6.993
1          Flex                0.558
2         Quick               10.844

In [9]:
secondpartSep24.head()

  new_loan_type  thirtyplus  sixtyplus  nintyplus
0          Flex      38.247     34.343     29.801
1         Quick      41.830     33.901     40.570
2   SIL-Instore      24.827     18.796     22.305

In [10]:
dfSep24 = sep24fpd30.merge(secondpartSep24, on='new_loan_type', how='left')
dfSep24

  new_loan_type  percentage_of_FPD30  thirtyplus  sixtyplus  nintyplus
0   SIL-Instore                6.993      24.827     18.796     22.305
1          Flex                0.558      38.247     34.343     29.801
2         Quick               10.844      41.830     33.901     40.570

In [11]:
thirdpartSep24.head()

   thirtyplus  sixtyplus  nintyplus
0      27.045     20.842     24.745

In [12]:
resultSep24 = pd.concat([dfSep24, thirdpartSep24], ignore_index=True)

In [13]:
resultSep24['new_loan_type'] = resultSep24['new_loan_type'].fillna("Portfolio")
resultSep24

  new_loan_type  percentage_of_FPD30  thirtyplus  sixtyplus  nintyplus
0   SIL-Instore                6.993      24.827     18.796     22.305
1          Flex                0.558      38.247     34.343     29.801
2         Quick               10.844      41.830     33.901     40.570
3     Portfolio                  NaN      27.045     20.842     24.745

In [14]:
import pandas as pd
from openpyxl import load_workbook

In [16]:
# Load the existing Excel file
existing_excel_file = r'C:\Users\DwaipayanChakroborti\OneDrive - Tonik Financial Pte Ltd\MyStuff\Collection\Anne\Jennifer Zaldivar\KRI_New_Report\Data\20240902_KRI_Report_New.xlsx'
xls = pd.ExcelFile(existing_excel_file)

# Read each existing sheet into separate dataframes
df_january = pd.read_excel(xls, sheet_name='January2024')
df_february = pd.read_excel(xls, sheet_name='February2024')
df_march = pd.read_excel(xls, sheet_name='March2024')
df_april = pd.read_excel(xls, sheet_name='April2024')
df_may = pd.read_excel(xls, sheet_name='May2024')
df_june = pd.read_excel(xls, sheet_name='June2024')
df_july = pd.read_excel(xls, sheet_name='JuLy2024')
df_aug = pd.read_excel(xls, sheet_name='August2024')

In [17]:
df_aug

    new_loan_type  percentage_of_FPD30  thirtyplus  sixtyplus  nintyplus
0         A. Flex                0.504      32.806     28.201     24.029
1        B. Quick                9.508      38.088     30.153     35.920
2  C. SIL-Instore                6.250      21.766     15.630     18.821
3    D. Portfolio                  NaN      23.937     17.631     21.193

In [18]:
# Mapping function to modify 'new_loan_type' values
def modify_loan_type(loan_type):
    mapping = {'Flex': 'A. Flex', 'SIL-Instore': 'C. SIL-Instore', 'Quick': 'B. Quick', 'Portfolio': 'D. Portfolio'}
    return mapping.get(loan_type, loan_type)  # Return original value if not found

# Apply the mapping function to the 'new_loan_type' column
resultSep24['new_loan_type'] = resultSep24['new_loan_type'].apply(modify_loan_type)
resultSep24

    new_loan_type  percentage_of_FPD30  thirtyplus  sixtyplus  nintyplus
0  C. SIL-Instore                6.993      24.827     18.796     22.305
1         A. Flex                0.558      38.247     34.343     29.801
2        B. Quick               10.844      41.830     33.901     40.570
3    D. Portfolio                  NaN      27.045     20.842     24.745

In [19]:
# Create a Pandas Excel writer using XlsxWriter as the engine
writer = pd.ExcelWriter(r'C:\Users\DwaipayanChakroborti\OneDrive - Tonik Financial Pte Ltd\MyStuff\Collection\Anne\Jennifer Zaldivar\KRI_New_Report\Data\20241002_KRI_Report_New.xlsx', engine='xlsxwriter')

# Sort each DataFrame by the first column and write to a separate worksheet, ignoring the index
df_january.sort_values(by=df_january.columns[0]).to_excel(writer, sheet_name='January2024', index=False)
df_february.sort_values(by=df_february.columns[0]).to_excel(writer, sheet_name='February2024', index=False)
df_march.sort_values(by=df_march.columns[0]).to_excel(writer, sheet_name='March2024', index=False)
df_april.sort_values(by=df_april.columns[0]).to_excel(writer, sheet_name='April2024', index=False)
df_may.sort_values(by=df_may.columns[0]).to_excel(writer, sheet_name='May2024', index=False)
df_june.sort_values(by=df_june.columns[0]).to_excel(writer, sheet_name='June2024', index=False)
df_july.sort_values(by=df_july.columns[0]).to_excel(writer, sheet_name='July2024', index=False)
df_aug.sort_values(by=df_aug.columns[0]).to_excel(writer, sheet_name='August2024', index=False)
resultSep24.sort_values(by=resultSep24.columns[0]).to_excel(writer, sheet_name='September2024', index=False)

# Close the Pandas Excel writer and output the Excel file
writer.close()